@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(2deg); }
  50% {
    -webkit-transform: rotateZ(-2deg); }
  100% {
    -webkit-transform: rotateZ(2deg); } }

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotateZ(2deg); }
  50% {
    -moz-transform: rotateZ(-2deg); }
  100% {
    -moz-transform: rotateZ(2deg); } }

@-o-keyframes wiggle {
  0% {
    -o-transform: rotateZ(2deg); }
  50% {
    -o-transform: rotateZ(-2deg); }
  100% {
    -o-transform: rotateZ(2deg); } }

@keyframes wiggle {
  0% {
    transform: rotateZ(2deg); }
  50% {
    transform: rotateZ(-2deg); }
  100% {
    transform: rotateZ(2deg); } }

body {
  background-color: #CA661A; }

.title-container {
  margin-top: 5%; }
  .title-container img {
    display: block;
    margin: 0 auto;
    width: 50%; }

.animals-container {
  display: flex;
  justify-content: center; }

.start-button {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 60px;
  -webkit-animation: wiggle 0.5s ease infinite;
  -moz-animation: wiggle 0.5s ease infinite;
  -o-animation: wiggle 0.5s ease infinite;
  animation: wiggle 0.5s ease infinite; }

.panda-container {
  position: relative;
  width: 500px;
  height: 400px; }
  .panda-container .panda-body {
    position: absolute;
    left: -30px;
    top: 100px;
    width: 110%; }
  .panda-container .panda-left {
    position: absolute;
    top: 50px;
    left: -40px;
    width: 60%;
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite; }
  .panda-container .panda-right {
    position: absolute;
    top: 350px;
    left: -25px;
    width: 80%;
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite; }

.bunny-container {
  position: relative;
  width: 500px;
  height: 400px; }
  .bunny-container .bunny-body {
    position: absolute;
    right: -40px;
    width: 110%;
    top: 100px; }
  .bunny-container .bunny-left {
    display: block;
    position: absolute;
    right: -30px;
    width: 70%;
    top: 350px;
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite; }
  .bunny-container .bunny-right {
    display: block;
    position: absolute;
    right: -30px;
    width: 50%;
    top: 100px;
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite; }

.game-container-inner {
  display: flex;
  justify-content: center; }
