$small-width: 425px;
$medium-width: 650px;
$large-width: 1024px;
$grass-img: url('./assets/banner-grass.png');

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

#app-container {
  background-color: #C06D2E;
}
